* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #242426 url("https://browsecat.art/sites/default/files/beautiful-for-computer-wallpapers-100457-828191-5859774.png");
}

.clock {
	width: 350px;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #242426 url("https://lh3.googleusercontent.com/u/0/drive-viewer/AFDK6gMoH0myZ65Phs7dcEGkyJ4fpkyR3-XVkVWM1pMPBF-uRsgNabclGkNZcUN2PrgdKN80QfZIjz4NA_IZI0aFmtK4z1a6Ag=w1920-h965");
	background-size: cover;
	border: 4px solid #242426;
	border-radius: 50%;
	box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
				inset 0 -15px 15px rgba(255, 255, 255, 0.05),
				0 15px 15px rgba(0, 0, 0, 1),
				inset 0 15px 15px rgba(0, 0, 0, 1);
}

.clock:before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	background: #e7ba1b;
	border-radius: 50%;
	z-index: 10000;
}

.clock .hour, .clock .min, .clock .sec {
	position: absolute;
}

.clock .hour, .hr {
	width: 130px;
	height: 130px;
}

.clock .min, .mn {
	width: 190px;
	height: 190px;
}

.clock .sec, .sc {
	width: 230px;
	height: 230px;
}

.hr, .mn, .sc {
  display: flex;
  justify-content: center;
/*   align-items: center; */
  position: absolute;
  border-radius: 50%;
}

.hr:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 70px;
  background: #bbb;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}

.mn:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 90px;
  background: #bbb;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}

.sc:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 150px;
  background: #e7ba1b;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}